<sergey-import src="layout">
  <sergey-template name="page-body">
    <!-- Header -->
    <section id="header">
      <div>
        <header>
          <h1></h1>
        </header>
        <footer>
        </footer>
      </div>
    </section>

    <!-- Banner -->
    <section id="banner">
      <header>
        <h1>#dailybuild - a online international community</h1>
        we are a subset of daily programmers who dedicates their passion to
        building tech
      </header>
      <footer>
        <a href="#first" class="button style2 scrolly">more</a>
      </footer>
    </section>

    <!-- Feature 1 -->
    <article id="first" class="container box style1 right">
      <a href="https://www.hodinkee.com/articles/richard-mille-clock-quebec" target="_blank" class="image fit"><img src="dailybuild-img/richardmille-quebec.png" alt="" /></a>
      <div class="inner">
        <header>
          <h2>working from multiple timezones</h2>
        </header>
        <p>
          <sergey-import src="timezones" />
        </p>
      </div>
    </article>
    <article id="battlestations" class="container box style2">
      <header>
        <h2>Our battlestations</h2>
        <p>
          "The Best Investment is in the Tools of One's Trade"<br />
          <cite>Benjamin Franklin</cite>
        </p>
      </header>
      <div class="inner gallery">
        <!-- 4 users per row -->
        <div class="row gtr-0">
          <sergey-import src="users/bernie" />
          <sergey-import src="users/bloom" />
          <sergey-import src="users/callcc" />
          <sergey-import src="users/googlebot" />
        </div>
        <div class="row gtr-0">
          <sergey-import src="users/luxemboye" />
          <sergey-import src="users/mabynogy" />
          <sergey-import src="users/sebbu" />
          <sergey-import src="users/socraticdev" />
        </div>
        <div class="row gtr-0">
          <sergey-import src="users/tacixat" />
          <sergey-import src="users/tuy360" />
          <sergey-import src="users/varg" />
          <sergey-import src="users/winny" />
        </div>
      </div>
    </article>
    <article id="sectionPersonalprojects" class="container box style2">
      <header>
        <h2>Our projects</h2>
        <p>
          "Success is the sum of small efforts, repeated daily"<br />
          <cite>adaptation of a motivational poster</cite>
        </p>
      </header>
      <div class="userProjectsSection box">
        <p><a href="https://twitter.dailybuild.org/movies" target="_blank">riffing movies in group</a></p>
        <p><a href="https://twitter.dailybuild.org/" target="_blank">twitter.dailybuild.org</a></p>
        <p><a href="https://en.socratic.dev" target="_blank">socraticDev's blog</a></p>
        <p><a href="https://sillypaste.herokuapp.com/" target="_blank">silly paste</a></p>
        <p><a href="https://cybering.cc//" target="_blank">cybering.cc</a></p>
        <p><a href="https://0x5f3759df.xyz/files" target="_blank">0x5f3759df.xyz - file hosting</a></p>
        <p><a href="https://vortices.vezquex.com/" target="_blank">vortices</a></p>
        <p><a href="https://gochan.org/" target="_blank">gochan</a></p>
        <p><a href="https://www.sebbu.fr/tmx/new/viewer_part_ui.php" target="_blank">sebbu's place</a></p>
        <p><a href="https://dailybuild.org/maxstertrooper/main.html" target="_blank">maxstertrooper - shooter game</a></p>
    </article>

    <section id="footer">
      <ul class="icons">
        <li>
          <a href="https://twitter.com/dailybuild3" class="icon brands fa-twitter" target="blank"
            title="link to dailybuild's twitter presence"><span class="label">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/socraticDevBlog/twitter_dailybuild" class="icon brands fa-github" target="_blank"
            title="link to dailybuild's Github presence"><span class="label">Github</span></a>
        </li>
        <li>
          <a href="https://gitlab.com/socraticdev/dailybuild-overflow" class="icon brands fa-gitlab" target="_blank"
            title="link to dailybuild's gitlab presence"><span class="label">Gitlab</span></a>
        </li>
      </ul>
      <div class="copyright">
        <ul class="menu">
          <li>
            <span style="display: inline-block; transform: rotate(180deg)">&copy</span>
            2021 made in Canada
          </li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/luxon.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/beattime.js"></script>
    <script src="assets/js/custom.js"></script>

  </sergey-template>
</sergey-import>