.readable-white {
  background: -o-linear-gradient(
    left,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 0.91) 12%,
    rgba(102, 102, 102, 0.81) 25%,
    rgba(71, 71, 71, 0.73) 36%,
    rgba(0, 0, 0, 0.61) 51%,
    rgba(17, 17, 17, 0.48) 69%,
    rgba(44, 44, 44, 0.44) 74%,
    rgba(43, 43, 43, 0.42) 76%,
    rgba(28, 28, 28, 0.31) 91%,
    rgba(19, 19, 19, 0.24) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 0.91) 12%,
    rgba(102, 102, 102, 0.81) 25%,
    rgba(71, 71, 71, 0.73) 36%,
    rgba(0, 0, 0, 0.61) 51%,
    rgba(17, 17, 17, 0.48) 69%,
    rgba(44, 44, 44, 0.44) 74%,
    rgba(43, 43, 43, 0.42) 76%,
    rgba(28, 28, 28, 0.31) 91%,
    rgba(19, 19, 19, 0.24) 100%
  );
  background: linear-gradient(
    to right,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 0.91) 12%,
    rgba(102, 102, 102, 0.81) 25%,
    rgba(71, 71, 71, 0.73) 36%,
    rgba(0, 0, 0, 0.61) 51%,
    rgba(17, 17, 17, 0.48) 69%,
    rgba(44, 44, 44, 0.44) 74%,
    rgba(43, 43, 43, 0.42) 76%,
    rgba(28, 28, 28, 0.31) 91%,
    rgba(19, 19, 19, 0.24) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
}
.gallery img:hover{
  transform: scale(0.97); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.userProjectsSection {
  margin-top: 2em !important;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 25px;
  border: 2px solid white;
  width: 50%;
  margin: auto;
}
.userProjectsSection:hover{
  border: 2px solid white;
}
.userProjectsSection a {
  color: white;
}
.userProjectsSection p {
  margin-bottom: 0em !important;
}
cite {
  color: lightgray;
  font-size: smaller;
}
.icon:hover{
  transform: scale(1.5);
}
