<table>
  <tr>
    <td>
      <a href="https://www.wikiwand.com/en/Swatch_Internet_Time" target="_blank"
        >S.I.T.</a
      >
    </td>
    <td id="beat-time">@899</td>
  </tr>
  <tr>
    <td>Europe(CET)</td>
    <td id="paris-time">18:00</td>
  </tr>
  <tr>
    <td>New York</td>
    <td id="ny-time">12:00</td>
  </tr>
  <tr>
    <td>Chicago</td>
    <td id="chicago-time">18:00</td>
  </tr>
  <tr>
    <td>Seattle</td>
    <td id="pacific-time">9:00</td>
  </tr>
</table>
