<div class="col-3 col-12-mobile">
    <a href="dailybuild-img/bernie-bigger-workstation.png" class="image fit"
      ><img
        src="dailybuild-img/bernie-workstation.png"
        alt="bernie's battlestation"
        title="bernie"
    /></a>
  </div>
  