<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/bloom-bigger-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/bloom-workstation.png"
      alt="bloom's battlestation"
      title="bloom"
  /></a>
</div>
