<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/callcc-workstation.png" class="image fit"
    ><img
      src="dailybuild-img/callcc-workstation.png"
      alt="callCC"
      title="sugoi aka callCC"
  /></a>
</div>
