<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/googlebot-bigger-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/Googlebot-workstation.png"
      alt="Googlebot's workstation"
      title="Googlebot"
  /></a>
</div>
