<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/luxemboye-big-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/luxemboye-workstation.png"
      alt="luxemboye-workstation"
      title="luxemboye"
  /></a>
</div>
