<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/mabynogy-workstation.png" class="image fit"
    ><img
      src="dailybuild-img/mabynogy-workstation.png"
      alt="mabynogy's battlestation"
      title="mabynogy"
  /></a>
</div>
