<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/sebbu-bigger-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/sebbu-workstation.png"
      alt="sebbu's battlestation"
      title="sebbu"
  /></a>
</div>
