<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/socdev-big-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/socratc-workstation-2.png"
      alt="socraticDev's battlestation"
      title="socraticDev"
  /></a>
</div>
