<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/tacixat-bigger-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/tacixat-workstation.png"
      alt="tacixat-workstation"
      title="tacixat"
  /></a>
</div>
