<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/tuy360-bigger-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/tuy360-workstation.png"
      alt="tuy360's battlestation"
      title="tuy360"
  /></a>
</div>
