<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/varg-bigger-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/var-g-workstation.png"
      alt="var-g's battlestation"
      title="var-g"
  /></a>
</div>
