<div class="col-3 col-12-mobile">
  <a href="dailybuild-img/winny-bigger-battlestation.png" class="image fit"
    ><img
      src="dailybuild-img/winny-workstation.png"
      alt="winny's battlestation"
      title="winny"
  /></a>
</div>
